.logo a img {
  height: 50px;
}
.footer-logo a img {
  max-height: 50px;
}

.quote-area .quote_form .eapps-form-form>a {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

