.logo a img {
  height: 50px;
}
.footer-logo a img {
  max-height: 50px;
}
<a title="linkedin" href="https://www.facebook.com/akanshconsulting/" target="_blank">
https://www.linkedin.com/company/akansh-consulting-pvt-ltd